aside#comments-section.comments
  h2.comments__title Leave comment:
  .comment__form-wrap
    .comment__avatar-wrap
      img.comment__avatar(src='http://api.randomuser.me/portraits/thumb/men/69.jpg' alt='Kurt Thompson')
    form.comment__form.comment__form-new
      textarea.comment__form-textarea(name='content' placeholder='Your  Message')
      .comment__form-bottom
        button.btn__primary.comment__form-btn(type='submit') Send
  .comments-block
  .separate
    .separate__inner
      button.btn__bordered.loadmore__btn load more comments